# Ignore Node Modules
node_modules/
fixplain-frontend/node_modules/
fixplain-backend/node_modules/

# Ignore Secret Environment Variables
.env
fixplain-backend/.env
fixplain-frontend/.env

# Ignore build files
dist/